{% extends "app/base1.html" %}
{% load static %}
{% block title %}Cadastrar produto{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="text-secondary mt-3">Inserir Produto</h1>
    <section class="row justify-content-center">
        <form action="" method="post" class="mt-4 col-6" id="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="mb-4 d-flex justify-content-end">
                <button type="submit" class="btn btn-lg btn-success">Cadastrar</button>
            </div>
        </form>
    </section>
</div>
{% endblock content %}